<footer class="footer">
  <small>
    <%= link_to "Code-Explode", root_path %> by
    <a href="http://github.com/rsabapath">Rathesh Saba</a> and
    <a href="http://github.com/selesse">Alex Selesse</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
